<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatiblle" content="IE-edge">
        <title>Mean stack example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width initial-scale=1">
    </head>
    <body>
        
        <!-- Some sort of adjustable list -->
        <div ng-controller="itemsController">
            <h1>There are {{itemsCount}} items</h1>
        </div>
        
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"/>
        
    </body>
</html>